@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Press+Start+2P&family=Sixtyfour+Convergence&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}


:root {
    --letra: 'Lilita One', Arial, Helvetica, sans-serif;
    --fundo: rgb(29, 29, 29);
    --cor1: rgb(235, 235, 235);
    --cor2: rgb(123, 22, 182);
    --cor3: rgb(41, 1, 68);
}

html {
    font-size: 1.2vw;
}

body {
    color: white;
    background-color: var(--fundo);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.8rem;
    font-family: 'Arimo';
}

h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Arimo';
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: .5s;
}a:hover {
        transform: scale(1.1);
}section {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
}

.aviso {
    position: fixed;
    top: 5rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 10000;
    background-color: var(--fundo);
    padding: 1.5rem;
    border: 0.2rem solid var(--cor1);
    border-radius: 1rem;
    opacity: 0;
    animation: aviso 4s linear;
    img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 0.2rem solid var(--cor2);
    }
}@keyframes aviso {
    0% {
        opacity: 0;
        right: 0;
    }
    30% {
        opacity: 1;
        right: 5rem;
    }
    80% {
        opacity: 1;
        right: 5rem;
    }
    100% {
        opacity: 0;
        right: 0;
    }
}

/* --- inicio ----- */
#inicio {
    display: grid;
    grid-template-columns: 67.5% 27.5%;
    gap: 5%;
    align-items: center;
}.icones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}.base {
    width: 100%;
    padding: 2rem;
    font-size: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0.2rem 0.2rem 0.3rem var(--cor2);
    color: var(--cor1);
}.ico {
    position: absolute;
    color: var(--cor1);
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--cor2);
    background-color: var(--cor3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    animation: sca 1.5s linear infinite alternate;
}.i1 {
    top: 2rem;
    left: 0rem;
}.i2 {
    top: 3rem;
    right: 0rem;
}.i3 {
    left: 3rem;
    bottom: 0rem;
}@keyframes sca {
    to {
        transform: scale(1.1);
    }
}
.texto-inicio {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    h1 {
        font-size: 4rem;
        font-family: var(--letra);
        letter-spacing: 0.4rem;
        color: var(--cor2);
        text-transform: uppercase;
    }
    div {
        display: flex;
        align-items: center;
        gap: 2rem;
        a {
            padding: 0.8rem 2rem;
            border-radius: 0.5rem;
            color: var(--cor2);
        }
    }
}

/* ----- destaques ----- */
#destaques {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding-top: 8rem;
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        background-color: var(--cor2);
        padding: 2rem;
        border-radius: 1rem;
        padding-top: 3rem;
        gap: 1.5rem;
        color: white;
        text-align: center;
        i {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--cor1);
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--cor2);
            font-size: 1.8rem;
            border: 0.5rem solid var(--cor2);
        }
    }
    .dest2 {
        transform: scale(1.1);
        background-color: var(--cor1);
        color: var(--cor2);
        i {
            background-color: var(--cor2);
            border: 0.5rem solid var(--cor1);
            color: var(--cor1);
        }
    }
}

.cta {
    width: 70%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 0.5rem;
    color: var(--cor2);
    background-color: var(--cor1);
    font-size: 3rem;
}

#passos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    row-gap: 3rem;
}.pas {
    padding: 2rem;
    border: 0.2rem solid var(--cor2);
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 3rem;
    h3 {
        font-family: var(--letra);
        letter-spacing: 0.2rem;
        color: var(--cor2);
    }
    i {
        position: absolute;
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        top: 0;
        right: 2rem;
        transform: translateY(-50%);
        background-color: var(--fundo);
        color: var(--cor2);
        border-radius: 50%;
    }
}

.titulo {
    text-align: center;
    color: var(--cor2);
    padding-bottom: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
    font-family: var(--letra), Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
}

#planos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    .valor {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border-radius: 1rem;
        border: 0.2rem solid var(--cor2);
        padding: 2rem;
        position: relative;
        padding-top: 3rem;
        h2 {
            text-transform: none;
            font-family: var(--letra);
            letter-spacing: 0.1rem;
            color: var(--cor2);
        }
        h3 {
            position: absolute;
            top: 0;
            left: 2rem;
            transform: translateY(-50%);
            padding: 0.5rem 2rem;
            border-radius: 0.5rem;
            background-color: var(--fundo);
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            a {
                padding: 0;
                display: unset;
                color: var(--cor2);
                font-family: var(--letra);
                letter-spacing: 0.1rem;
            }
        }
    }
}


/* ---- Template ---- */
.template {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    padding-top: 2rem;
}.temp {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--cor2);
    padding: 2rem 1rem;
    border-radius: 1rem;
    align-items: center;
    position: relative;
    color: white;
    iframe {
        width: 100%;
        height: 20rem;
        border-radius: 1rem;
        border: 0.2rem solid var(--cor1);
    }
    a {
        color: var(--cor2);
        background-color: var(--cor1);
        width: 80%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-radius: 0.5rem;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--cor2);
    color: white;
    margin-top: 4rem;
}






/* -- Responsividade para dispositivos moveis -- */
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 1.8vw;
    }
    a:hover {
        transform: scale(1.0);
    }
section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
}p {
    font-size: 1.6rem;
}h3 {
    font-size: 1.8rem;
}


.aviso {
    width: 70%;
    top: 0;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 0.2rem solid var(--cor2);
    }
}@keyframes aviso {
    0% {
        opacity: 0;
        right: unset;
        top: 0;
    }
    30% {
        opacity: 1;
        right: unset;
        top: 5rem;
    }
    80% {
        opacity: 1;
        right: unset;
        top: 5rem;
    }
    100% {
        opacity: 0;
        right: unset;
        top: 0;
    }
}

/* --- inicio ----- */
#inicio {
    grid-template-columns: 62.5% 32.5%;
    gap: 5%;
    padding-top: 4rem;
}.base {
    font-size: 16rem;
}.i1 {
    top: 2rem;
    left: -1rem;
}.i2 {
    top: 5rem;
    right: 0rem;
}.i3 {
    left: 3rem;
    bottom: 0rem;
}@keyframes sca {
    to {
        transform: scale(1.1);
    }
}

/* ----- destaques ----- */
#destaques {
    grid-template-columns: auto;
    row-gap: 4rem;
    .dest2 {
        transform: scale(1.0);
    }
}.cta {
    margin-top: 2rem;
}

.titulo {
    padding-left: 3rem;
    padding-right: 3rem;
}


#planos {
    grid-template-columns: auto;
    row-gap: 3rem;
}
/* ---- Template ---- */
.template {
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}.temp {
    iframe {
        height: 30rem;
    }
}

}



@media (max-width: 767px) {
    html {
        font-size: 2.8vw;
    }
    a:hover {
        transform: scale(1.0);
    }
section {
    padding-left: 3rem;
    padding-right: 3rem;
}
.aviso {
    width: 90%;
    top: 0;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 0.2rem solid var(--cor2);
    }
}@keyframes aviso {
    0% {
        opacity: 0;
        right: unset;
        top: 0;
    }
    30% {
        opacity: 1;
        right: unset;
        top: 5rem;
    }
    80% {
        opacity: 1;
        right: unset;
        top: 5rem;
    }
    100% {
        opacity: 0;
        right: unset;
        top: 0;
    }
}
/* --- inicio ----- */
#inicio {
    grid-template-columns: auto;
    gap: 3rem;
}.icones {
    width: 70%;
    margin: 0 auto;
}.ico {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2.75rem;
}
.texto-inicio {
    gap: 1rem;
}

/* ----- destaques ----- */
#destaques {
    grid-template-columns: auto;
    padding-top: 7rem;
    row-gap: 4rem;
    .dest2 {
        transform: scale(1.0);
    }
}

.titulo {
    padding-bottom: 0;
    padding-left: 3rem;
    padding-right: 3rem;
}.cta {
     margin-top: 2rem;
}

#passos {
    padding-top: 3rem;
    grid-template-columns: auto;
}#planos {
    grid-template-columns: auto;
    row-gap: 3rem;
}



/* ---- Template ---- */
.template {
    grid-template-columns: auto;
}.temp {
    gap: 2rem;
    padding: 2rem 2rem;
    iframe {
        height: 30rem;
    }
}
} 





